/*
Copyright 2021 Camptocamp SA - Iván Todorovich
License AGPL-3.0 or later (http://www.gnu.org/licenses/agpl).
*/

.pos {
    .order {
        .orderline {
            .info-list {
                .info {
                    &.event-info {
                        margin-bottom: 0.5rem;
                        font-style: italic;
                    }
                }
            }
        }
    }

    .modal-dialog .popup.popup-event-selector {
        width: 90%;
        height: 90%;
        min-width: 600px;
        max-width: 1000px;
        min-height: 600px;
        max-height: 800px;

        .left-content {
            position: absolute;
            left: 0px;
            top: 64px;
            bottom: 60px;
            right: 50%;
            overflow-x: hidden;
            overflow-y: auto;
            border-right: dashed 1px rgb(215, 215, 215);
        }

        .right-content {
            position: absolute;
            right: 0px;
            top: 64px;
            bottom: 60px;
            left: 50%;
            overflow-x: hidden;
            overflow-y: auto;
        }

        .o_calendar_widget {
            font-size: 0.8rem;
            padding: 20px;

            .has-events {
                background-color: #fff;
                box-shadow: inset 2px 2px 0px 0px #6ec89b,
                    inset -2px 0px 0px 0px #6ec89b, inset 0px -2px 0px 0px #6ec89b;
            }

            .fc-highlight {
                background-color: #6ec89b;
                opacity: 0.5;
            }

            .fc-day-number {
                padding: 10px;
                text-align: center;
            }

            .fc-widget-header {
                padding: 2px 0;
            }

            .fc-bg td:not(.fc-other-month):not(.has-events) {
                background-color: #d9d9d9;
            }
        }

        .event-list {
            padding: 5px;
            font-size: 0.8rem;
            font-weight: normal;

            .event-list-item {
                position: relative;
                vertical-align: top;
                text-align: left;
                font-size: 1rem;
                margin: 8px !important;
                padding: 1rem;
                background: #fff;
                border: 1px solid #e2e2e2;
                border-radius: 3px;
                border-bottom-width: 3px;
                cursor: pointer;

                &.disabled {
                    opacity: 0.5;
                }

                .event-title {
                    font-weight: bold;
                }

                .event-subtitle {
                    color: gray;
                }

                .event-info {
                    margin-top: 0.5rem;
                    font-size: 0.75rem;
                    line-height: 1.1rem;
                }

                .status-tag {
                    vertical-align: top;
                    position: absolute;
                    font-size: 0.75rem;
                    top: 2px;
                    right: 2px;
                    color: white;
                    line-height: 13px;
                    padding: 2px 5px;
                    border-radius: 2px;
                    background: black;

                    &.bg-danger {
                        background: red;
                    }

                    &.bg-warning {
                        background: orange;
                    }
                }
            }
        }
    }

    .modal-dialog .popup.popup-event-tickets {
        width: 600px;
        height: 500px;

        main {
            position: absolute;
            top: 60px;
            bottom: 60px;
            font-weight: normal;

            .product-list-scroller {
                height: 100%;
            }

            article.ticket {
                &.disabled {
                    opacity: 0.5;
                }

                .status-tag {
                    vertical-align: top;
                    position: absolute;
                    top: 25px;
                    right: 2px;
                    color: white;
                    line-height: 13px;
                    padding: 2px 5px;
                    border-radius: 2px;
                    background: black;

                    &.bg-danger {
                        background: red;
                    }

                    &.bg-warning {
                        background: orange;
                    }
                }
            }
        }
    }
}
