.pos-payment-terminal-receipt {
    text-align: center;
    font-size: 75%;
}
.card-row {
    margin: 50px;
}
.card-icon {
    font-size: 5em;
    float: left;
    margin-left: 100px;
}
.card-details {
    margin-left: 300px;
}
