odoo-addon-pos_product_pricelist_alternative@ git+https://github.com/OCA/pos.git@refs/pull/1235/head#subdirectory=setup/pos_product_pricelist_alternative
odoo-addon-pos_partner_pricelist_load_background@ git+https://github.com/OCA/pos.git@refs/pull/1243/head#subdirectory=setup/pos_partner_pricelist_load_background
