.payment-terminal-transaction-start button {
    width: 150px;
    height: 60px;
    font-size: 18px;
    cursor: pointer;
    text-align:center;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    left: 105%;
    bottom: 10px;
    position: absolute;
}
