.pos .button.error_risk {
    background: $warning !important;
    border-color: $warning !important;
    color: black !important;
}

.payment-red {
    background: rgba(255, 0, 0, 0.6);
    cursor: not-allowed;
}
