/*
Copyright 2021 Camptocamp SA (https://www.camptocamp.com).
@author Iván Todorovich <ivan.todorovich@camptocamp.com>
License AGPL-3.0 or later (https://www.gnu.org/licenses/agpl).
*/

$pos-event-sale-primary-color: #6ec89b !default;

.pos {
    .modal-dialog .popup.event-selector-popup {
        width: 90%;
        height: 90%;
        min-width: 600px;
        max-width: 1000px;
        min-height: 600px;
        max-height: 1200px;

        .body {
            height: calc(100% - 160px);
            display: flex;
            flex-direction: column;
        }

        .event-selector {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            overflow: hidden;
            height: 100%;

            section {
                height: 100%;
                display: flex;
                flex-direction: column;
                flex-basis: 100%;
                flex: 1;

                &:not(:last-child) {
                    border-right: dashed 1px rgb(215, 215, 215);
                }
            }
        }

        .o_calendar_widget {
            font-size: 0.8rem;
            padding: 20px;

            .has-events {
                background-color: #fff;
                box-shadow: inset 2px 2px 0px 0px $pos-event-sale-primary-color,
                    inset -2px 0px 0px 0px $pos-event-sale-primary-color,
                    inset 0px -2px 0px 0px $pos-event-sale-primary-color;
            }

            .fc-highlight {
                background-color: $pos-event-sale-primary-color;
                opacity: 0.5;
            }

            .fc-day-number {
                padding: 10px;
                text-align: center;
            }

            .fc-widget-header {
                padding: 2px 0;
            }

            .fc-bg td:not(.fc-other-month):not(.has-events) {
                background-color: #d9d9d9;
            }
        }

        .event-filters {
            font-size: 14px;

            .filters {
                margin-bottom: 16px;
                display: flex;
                gap: 0.5em;

                .pos-search-bar {
                    vertical-align: middle;
                    white-space: nowrap;
                    position: relative;
                    display: flex;
                    font-size: 14px;
                    flex: 1;

                    .search {
                        display: flex;
                        position: relative;
                        flex: 1;

                        input {
                            width: 0;
                            height: 40px;
                            color: #63717f;
                            font-size: inherit;
                            padding-left: 40px;
                            border: solid 1px rgb(209, 209, 209);
                            flex: 1;
                            box-shadow: none !important;

                            &:focus {
                                outline: none;
                            }
                        }

                        .search-icon {
                            position: absolute;
                            left: 15px;
                            top: 14px;
                            z-index: 1;
                            color: #4f5b66;
                        }

                        ul {
                            background: white;
                            position: absolute;
                            top: calc(100% + 5px);
                            right: 2px;
                            left: 2px;
                            box-shadow: 1px 1px 3px grey;
                            z-index: 1000;

                            li {
                                color: rgb(1, 160, 157);
                                margin: 0.2em 0;
                                padding-top: 0.2em;
                                padding-bottom: 0.2em;
                                padding-left: 0.5em;
                                text-indent: 0;
                                text-align: left;

                                &:before {
                                    display: none;
                                }

                                &:hover {
                                    background: #ddd;
                                }

                                .field {
                                    font-style: italic;
                                }

                                .term {
                                    font-weight: bold;
                                }

                                &.highlight {
                                    background: #ddd;
                                }
                            }
                        }
                    }

                    .radius-right {
                        border-top-right-radius: 5px;
                        border-bottom-right-radius: 5px;
                    }

                    .radius-left {
                        border-top-left-radius: 5px;
                        border-bottom-left-radius: 5px;
                    }

                    .fa {
                        font-size: medium;
                    }

                    .filter {
                        height: 40px;
                        background: white;
                        padding-top: 1px;
                        padding-bottom: 1px;
                        padding-left: 15px;
                        padding-right: 40px;
                        border: solid 1px rgb(209, 209, 209);
                        border-left: none;
                        position: relative;
                        display: flex;
                        align-items: center;
                        max-width: 150px;

                        &:hover {
                            color: #868686;
                        }

                        .options {
                            display: block;
                            position: absolute;
                            top: calc(100% + 5px);
                            right: 0;
                            z-index: 1;
                            box-shadow: 1px 1px 5px grey;
                            padding: 0.5em 0;
                            background: white;
                            color: #555555;

                            ul.options {
                                li {
                                    padding: 0.2em 1.2em;
                                    border-top: none;
                                    display: flex;
                                    justify-content: start;
                                    align-items: center;

                                    &.indented {
                                        text-indent: 1em;
                                    }

                                    &:hover {
                                        background-color: #ddd;
                                    }
                                }
                            }
                        }

                        .down-icon {
                            position: absolute;
                            right: 13px;
                            top: 12px;
                        }
                    }
                }
            }
            .applied {
                margin-bottom: 16px;
                display: flex;
                flex-wrap: wrap;
                gap: 0.5em;

                .filter {
                    display: flex;
                    background: rgba($pos-event-sale-primary-color, 0.6);
                    border: solid 1px $pos-event-sale-primary-color;

                    .facet {
                        display: flex;
                        align-items: center;
                        color: white;
                        background: $pos-event-sale-primary-color;
                        padding: 0.25em 0.5em;
                        white-space: nowrap;
                        max-width: 100%;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                    .value {
                        display: flex;
                        align-items: center;
                        padding: 0.25em 0.5em;
                        white-space: nowrap;
                        max-width: 100%;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                    i {
                        display: flex;
                        align-items: center;
                        padding-right: 0.25em;
                    }
                }
            }
        }

        .event-list-container {
            padding: 5px;
            font-size: 0.8rem;
            font-weight: normal;
            height: 100%;

            .scrollable-y {
                height: 100%;
            }

            article.event {
                position: relative;
                vertical-align: top;
                text-align: left;
                font-size: 1rem;
                margin: 8px !important;
                padding: 1rem;
                background: #fff;
                border: 1px solid #e2e2e2;
                border-radius: 3px;
                border-bottom-width: 3px;
                cursor: pointer;

                &.disabled {
                    opacity: 0.5;
                    cursor: default;
                }

                .event-title {
                    font-weight: bold;
                }

                .event-subtitle {
                    color: gray;
                }

                .event-info {
                    margin-top: 0.5rem;
                    font-size: 0.75rem;
                    line-height: 1.1rem;

                    i,
                    span {
                        margin-right: 0.25rem;
                    }

                    i.fa {
                        min-width: 1em;
                        text-align: center;
                    }
                }

                .event-availability-tag {
                    position: absolute;
                    top: 2px;
                    right: 2px;
                }
            }
        }

        .alert-debug {
            padding: 0.75em;
            margin: 0.75em;
            border-radius: 0.25em;
            background: #2c3e50;
            color: white;
        }
    }

    .modal-dialog .popup.event-tickets-popup {
        width: 600px;
        font-weight: normal;

        main {
            max-height: 600px;
        }

        article.event-ticket {
            vertical-align: top;
            position: relative;
            font-size: 0.8rem;
            text-align: left;
            margin: 8px !important;
            height: 3rem;
            padding: 0.75rem;
            padding-left: 6rem;
            padding-right: 100px;
            background: #fff;
            border: 1px solid #e2e2e2;
            border-radius: 3px;
            border-bottom-width: 3px;
            cursor: pointer;

            img.ticket-image {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
            }

            .ticket-name {
                font-weight: bold;
            }

            &.disabled {
                opacity: 0.5;
                cursor: default;
            }

            .event-availability-tag {
                position: absolute;
                top: 22px;
                left: 2px;
            }

            .price-tag {
                position: absolute;
                top: 2px;
                left: 2px;
                vertical-align: top;
                color: white;
                background: #7f82ac;
                font-size: 0.75rem;
                padding: 2px 5px;
                border-radius: 2px;
            }
        }
    }

    .event-availability-tag {
        vertical-align: top;
        font-size: 0.75rem;
        color: white;
        line-height: 13px;
        padding: 2px 5px;
        border-radius: 2px;
        background: black;

        &.bg-danger {
            background: red;
        }

        &.bg-warning {
            background: orange;
        }
    }

    .multi-select-button {
        position: relative;
        display: inline-block;
        font-size: 14px;

        & > button {
            padding: 0 0.5em;
            margin: 0;
            height: 100%;
            line-height: 40px;
            text-align: center;
            font-size: inherit;
            font-weight: bold;
            cursor: pointer;
            color: #555;
            border: solid 1px rgba(60, 60, 60, 0.1);
            border-radius: 2px;
            background: rgba(0, 0, 0, 0.05);
            transition: all 150ms linear;

            & > i {
                margin-right: 0.5em;
            }
        }

        & > ul {
            display: block;
            background: white;
            box-shadow: 1px 1px 5px grey;
            padding: 0.5em 0;
            position: absolute;
            top: calc(100% + 5px);
            right: 0;
            min-width: 6em;
            max-height: 60vh;
            z-index: 1000;

            & > li {
                position: relative;
                padding: 0.5em 1.5em;
                text-indent: 0px !important;
                white-space: nowrap;
                max-width: 25em;
                overflow-x: hidden;
                text-overflow: ellipsis;

                &:hover {
                    background-color: rgba(0, 0, 0, 0.08);
                }

                &::before {
                    position: absolute !important;
                    top: 1em !important;
                    left: 0.6em !important;
                    bottom: auto !important;
                    right: auto !important;
                    font-size: 1em !important;
                    font: 0.7em/1em FontAwesome !important;
                    content: "" !important;
                }

                &.selected::before {
                    content: "\f00c" !important;
                    color: #017e84;
                }
            }
        }
    }

    div.button.next.validation {
        cursor: pointer;
    }
}
