/*
    Copyright 2022 Moka Tourisme (https://www.mokatourisme.fr).
    @author Pierre Verkest <pierreverkest84@gmail.com>
    License AGPL-3.0 or later (https://www.gnu.org/licenses/agpl).
*/
input:required {
    background: rgb(110, 200, 155) !important;
    color: white !important;
    border: solid 2px rgb(110, 200, 155) !important;
}
