/*
 *  Copyright 2023 LevelPrime
 *  License AGPL-3.0 or later (http://www.gnu.org/licenses/agpl)
 */

.remove-line-button {
    float: right;
    padding: 0 5px 0 10px;
    cursor: pointer;
    margin-left: 6px;
}
