/*
 *  Copyright 2023 LevelPrime
 *  License AGPL-3.0 or later (http://www.gnu.org/licenses/agpl)
 */

.remove-line-button {
    cursor: pointer;
    color: #e30000;

    &:hover {
        color: #b30000;
    }
}
